[Unit]
Description=ccmm_importer
After=multi-user.target

[Service]
ExecStart=__INSTALL_PATH__/importer/importer server
Type=simple
User=__INSTALL_USER__
Group=__INSTALL_GROUP__
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target
