ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z][1-9]", ENV{ID_FS_LABEL}!="EFI", RUN+="__INSTALL_PATH__/supporting/udev_device_attached.sh $env{DEVNAME}"
